<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dlog.info_nest">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".BasicApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dlog.info_nest.MainActivity"
            android:windowSoftInputMode="adjustResize|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dlog.info_nest.ui.PopupActivity">

        </activity>
        <activity android:name="com.dlog.info_nest.ui.WebViewActivity">

        </activity>
        <activity android:name="com.dlog.info_nest.ui.SettingActivity">

        </activity>
        <activity
            android:name=".ui.palette.PopupActivity"
            android:theme="@style/popupTheme">
        </activity>
        <activity android:name=".ui.palette.PopupActivity2"
            android:theme="@style/popupTheme">
        </activity>
        <activity android:name=".utilities.ShareEventActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.palette.BookMarkListPopupActivity"
            android:theme="@style/popupTheme"/>
        <receiver android:name=".ui.palette.My_Widget_Provider"
            android:label="@string/widget_name_palette">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="Click1"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider"/>
        </receiver>
        <receiver
            android:name=".utilities.BootReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".utilities.ClipboardService" />

        <receiver android:name=".ui.palette.My_Widget_Provider2"
            android:label="@string/widget_name_list">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="Click1"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider2"/>

        </receiver>
    </application>

</manifest>